<footer class="agrocoop-footer">
    <link rel="stylesheet" href="../front/index.css">
    <div class="footer-content">
        <div class="footer-info">
            <span>🌱 AgroCoop Tech &copy; 2024</span>
            <span>Conectando cooperados, fortalecendo o agro.</span>
            <img src="../img/Logo AgroCoop - Versão Final.png" alt="AgroCoop Tech Logo" class="footer-logo">
        </div>
        <div class="footer-links">
            <a href="/front/pages/dashboard.html">Dashboard</a>
            <a href="/front/pages/votacoes.html">Votações</a>
            <a href="/front/pages/compras.html">Compras</a>
            <a href="/front/pages/perfil.html">Perfil</a>
            <a href="/front/pages/notificacoes.html">Notificações</a>
        </div>
    </div>
</footer>